=begin
#Fatture in Cloud API v2 - API Reference

#Connect your software with Fatture in Cloud, the invoicing platform chosen by more than 500.000 businesses in Italy.   The Fatture in Cloud API is based on REST, and makes possible to interact with the user related data prior authorization via OAuth2 protocol.

The version of the OpenAPI document: 2.1.9
Contact: info@fattureincloud.it
Generated by: https://openapi-generator.tech
Generator version: 7.16.0

=end

require 'cgi'

module FattureInCloud_Ruby_Sdk
  class PriceListsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get PriceList Items List
    # Retrieves all the Items of a PriceList
    # @param company_id [Integer] The ID of the company.
    # @param price_list_id [String] The ID of the price
    # @param [Hash] opts the optional parameters
    # @return [GetPriceListItemsResponse]
    def get_price_list_items(company_id, price_list_id, opts = {})
      data, _status_code, _headers = get_price_list_items_with_http_info(company_id, price_list_id, opts)
      data
    end

    # Get PriceList Items List
    # Retrieves all the Items of a PriceList
    # @param company_id [Integer] The ID of the company.
    # @param price_list_id [String] The ID of the price
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetPriceListItemsResponse, Integer, Hash)>] GetPriceListItemsResponse data, response status code and response headers
    def get_price_list_items_with_http_info(company_id, price_list_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PriceListsApi.get_price_list_items ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling PriceListsApi.get_price_list_items"
      end
      # verify the required parameter 'price_list_id' is set
      if @api_client.config.client_side_validation && price_list_id.nil?
        fail ArgumentError, "Missing the required parameter 'price_list_id' when calling PriceListsApi.get_price_list_items"
      end
      # resource path
      local_var_path = '/c/{company_id}/price_lists/{price_list_id}/items'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s)).sub('{' + 'price_list_id' + '}', CGI.escape(price_list_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetPriceListItemsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2AuthenticationCodeFlow']

      new_options = opts.merge(
        :operation => :"PriceListsApi.get_price_list_items",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PriceListsApi#get_price_list_items\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get PriceLists
    # Retrieves all price lists of the company
    # @param company_id [Integer] The ID of the company.
    # @param [Hash] opts the optional parameters
    # @return [ListPriceListsResponse]
    def get_price_lists(company_id, opts = {})
      data, _status_code, _headers = get_price_lists_with_http_info(company_id, opts)
      data
    end

    # Get PriceLists
    # Retrieves all price lists of the company
    # @param company_id [Integer] The ID of the company.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ListPriceListsResponse, Integer, Hash)>] ListPriceListsResponse data, response status code and response headers
    def get_price_lists_with_http_info(company_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PriceListsApi.get_price_lists ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling PriceListsApi.get_price_lists"
      end
      # resource path
      local_var_path = '/c/{company_id}/price_lists'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListPriceListsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2AuthenticationCodeFlow']

      new_options = opts.merge(
        :operation => :"PriceListsApi.get_price_lists",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PriceListsApi#get_price_lists\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
